.news-card{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(74, 77, 95);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-collapse: collapse;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 14px;
    height: 98px;
    margin-bottom: 16px;
    margin-top: 16px;
    margin-left: 16px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-wrap: wrap;
    transition-duration: 0s, 0.25s;
    transition-property: box-shadow, width;
    transition-timing-function: ease, ease;
    unicode-bidi: isolate;
    white-space-collapse: collapse;
    width: 272px;
}

.news-card:hover{
    cursor: pointer;
}

.news-card-body{
    padding: 15px;
}

.image-right{
    float: right;
}
.image-right img{
    width: 66px;
    height: 66px;
    object-fit: cover;
}

.caption .source{
    margin-bottom: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.caption .source .source-icon{
    max-width: 15px;
    max-height: auto;
    object-fit: cover;
    margin-right: 5px;
}

.caption .title{
    height: 39px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}