

.wrapper{
    position: relative;
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.carousel-container{
    max-width: 860px;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.arrow-right{
    position: absolute;
    right: -10px;
    background-color: #fff;
}

.arrow-left{
    position: absolute;
    left: -10px;
    background-color: #fff;
}