<div class="wrapper">

    <div  class="container">
        @if(clicks > 800){
            <button mat-icon-button class="arrow-left" (click)="scrollLeft()">
                <mat-icon>arrow_back_ios</mat-icon>
            </button>

        }

        @for(card of cards; track $index){
            <app-card></app-card>
        }
    
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
       
            <button mat-icon-button class="arrow-right" (click)="scrollRight()">
                <mat-icon>arrow_forward_ios</mat-icon>
            </button>
    </div>

</div>

